#logo {
}
body {
  background-color: #ebeff5;
  /* padding: 0.2rem; */
}
#total-orders {
  background-color: #4cb4cf;
}
#orders-delivered {
  background-color: #7abecc;
}
#orders-pending {
  background-color: #7cd1c0;
}
